$header-bg-color: #3399cc;
$navigation-bg-color: #333333;
$input-border-color: #C0C0C0;
$select-border-color:  #808080;
$button-bg-color:#D4D0C8;

.header {
    background-color: $header-bg-color;
    padding: 17px 25px;
    p {
        font-family: "century gothic";
        letter-spacing: 1.4px;
        font-weight: 100;
    }
}
@mixin heilight-menu {
    height: 100%;
        color: black;
        background-color: orange;
        border-left: 4px solid white;
        a {
            color:black !important;
        }
}
.nav-hover{
    @include heilight-menu;
    
}
.nav-hover-ul {
    li:hover {
        @include heilight-menu;
    }
}

