<div class="header d-flex flex-row justify-content-center justify-content-md-start">
    <p class="text-capitalize text-white fs-50 my-auto">Address Book</p>
</div>
<div class="navbar d-flex flex-column flex-md-row text-white bg-dark p-0">
    <ul class="nav  ml-2 text-uppercase font-weight-bold flex-column flex-md-row my-0 py-0 ">
        <li class="nav-link py-1 "><a class="text-white text-decoration-none " href="#">Home</a> </li>
        <li class="nav-link py-1 "><a class="text-white text-decoration-none " routerLink="/add/contact"
                id="add-contact">+
                Add</a> </li>

    </ul>
    <div class="my-0 py-0 mr-2">
        <img src="../../assets/blog-icon.png" alt="blog icon">
    </div>
</div>