/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,calibri ;
}

$header-bg-color: #3399cc;
$navigation-bg-color: #333333;
$input-border-color: #C0C0C0;
$select-border-color:  #808080;
$button-bg-color:#D4D0C8;

.header {
    background-color: $header-bg-color;
    padding: 17px 25px;
    p {
        font-family: "century gothic";
        letter-spacing: 1.4px;
        font-weight: 100;
    }
}
@mixin heilight-menu {
    height: 100%;
        color: black;
        background-color: orange;
        border-left: 4px solid white;
        a {
            color:black !important;
        }
}
.nav-hover{
    @include heilight-menu;
    
}
.nav-hover-ul {
    li:hover {
        @include heilight-menu;
    }
}

.contact-selected {
    background-color: rgb(206,231,242);
}
.fs-50 {
    font-size: 50px;
}
.fs-30 {
    font-size: 30px;
}
.fs-14 {
    font-size: 14px;
}
.fs-10 {
    font-size: 10px;
}
.fs-5 {
    font-size: 5px;
}
.h-80{
    height:80%;
}
.width-fit-content {
    width: fit-content;
}
.border {
    border: 1px solid lightgray !important;
}
.fw-500 {
    font-weight: 500;
}
.max-w-1060 {
    max-width: 1060px;
}
.text-decoration-none {
    text-decoration: none;
}
.require {
    color: red;
}

.main-container {
    margin:20px 50px;
}

.mw- {
    width: 400px;
}
.mh- {
    height: 98px;
}

.w-630px {
    width: 630px;
}
.w-520px {
    width: 520px;
}
form {
    button {
        width: 110px !important;
        height: 35px !important;
        
    }
    min-height:500px;
}
textarea {
    resize: none;
    overflow-y: scroll;
}
.shadow {
    box-shadow: 0px 0px 10px 10px #999 !important;
}

