/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,calibri ;
}
.fs-50 {
    font-size: 50px;
}
.fs-30 {
    font-size: 30px;
}
.fs-14 {
    font-size: 14px;
}
.fs-10 {
    font-size: 10px;
}
.fs-5 {
    font-size: 5px;
}
.h-80{
    height:80%;
}
.width-fit-content {
    width: fit-content;
}
.border {
    border: 1px solid lightgray !important;
}
.fw-500 {
    font-weight: 500;
}
.max-w-1060 {
    max-width: 1060px;
}
.text-decoration-none {
    text-decoration: none;
}
.require {
    color: red;
}